
<div id="main-container-cat">
<div class="container">
<table style="width:100%;table-layout: fixed;">
  <tr>
  <% @categories.each do |category| %>
    <td><a class="list-group-item cat_name" href="/category/<%=category.id%>" style="text-align:center; <%if category.name== @category.name %>background-color:gray;color:black<%end%>"><%=category.name%></a></td>
    <% end %>
  </tr>
</table>
  <div id="results">
    <ul class="list-group">
      <% @recipes.each do |recipe| %>
      <div id="profile-img-content">
         <% if @recipes.present? %>
         <%= link_to image_tag(recipe.media, :class => "recipe-image-profile inline-block", :rel => "tooltip", :title => recipe.name), recipe_path(recipe) %>
         <% else %>
         <h2> No recipes yet! </h2>
         <% end %>
       </div>
      <% end %>
    </ul>
  </div>
</div>
</div>
