        <div class="form-style-5">
        <%= form_for @recipe, url: {action: "new"}, :html=> { :'data-type' => 'html',class: "nifty_form", :id => 'create_recipe_form'} do |f| %>
              <legend><span class="number">1</span> Recipe name</legend>
              <%= f.text_field :name, :required => true%><br />
              <legend><span class="number">2</span>Recipe description</legend>
              <%= f.text_area :description, size: "60x12", :required => true %><br />
              <button type="button" class="btn-md" id="add_step">Add step</button>
              <button type="button" class="btn-md" id="add_category">Add category</button>
              <div class="actions">
              <%= f.submit "Create recipe", :id => 'create' %>
            </div>


        <% end %>
        </div>