<div id="div-ing">
    <% @ingredients.each do |ing| %>

          <div class="SIResult btn btn-default" data-name="<%= ing.name %>" id="ing-<%= ing.id %>"href=""><%= ing.name %>  <%= ing.calories %> Calories</div>

    <% end %>
</div>