
<div class="list-group panel col-md-1" id="cat-bar">
  <a href="#cats" class="list-group-item list-group-item-success" id="cat_men" data-toggle="collapse" >Categories</a>
  <div class="collapse" id="cats">
    <% @categories.each do |category| %>

    <%=link_to category.name , category ,class: "list-group-item cat_name"  %>

    <% end %>
  </div>
</div>

<div class="col-md-10 ">
  <h1> Homepage </h1>

</div>
