/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
 *= require jquery-ui
 *= require bootstrap-select
 */

$screen-sm: 992px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Dosis:700);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

/* mixins, variables, etc. */
@font-face {
  font-family: billabong;
  src: url('https://social-fonts.com/assets/fonts/billabong/billabong.ttf') format('truetype');
}
$gray-medium-light: #eaeaea;
$border-gray: #edeeee;
$blue-logo: #006699;

/* universal */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background-image: image-url("cook_bg_opacity.jpg");
  background-color: #fafafa;
}
#main-container {
  margin-top: -20px;
  height: 2000px;
  padding-top: 7%;
  width: 60%;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
h3 {
  font-family: 'Dosis', sans-serif;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar-header {
  height: 80px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #2A696F;
}
#loggedin > li {
  background-color: #408288;

  &:hover {
    background-color: #2A696F;
  }
}
.navbar-inverse .navbar-nav > li > a, #loggedin > li > a {
  height: 80px;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  padding-top: 30px;
  display: inline-block;

  &:hover {
    color: white;
    background-color: #2A696F;
  }
}
.nav > li > a {
  padding-right: 40px;
}
#loggedin {
  background-color: #494C4D;
}
@media (min-width:1100px) {
  .navbar-right {
    margin-right: 100px !important;
  }
  .navbar-left {
    margin-left: 100px;
  }
  li a {
    padding-left: 60px;
  }
}
@media (min-width:1200px) {
  .navbar-right {
    margin-right: 150px !important;
  }
  .navbar-left {
    margin-left: 150px;
  }
  li a {
    padding-left: 60px;
  }
}
@media (min-width:1500px) {
  .navbar-right {
    margin-right: 300px !important;
  }
  .navbar-left {
    margin-left: 300px;
  }
  li a {
    padding-left: 60px;
  }
}
.navbar {
  position: relative;
  background-color: #408288;
  border-bottom-color: $border-gray;
  border-bottom-width: 1px;
}
#logo {
  position: absolute;
  left: 50%;
  margin-left: -86px !important;
  display: block;
  font-family: billabong;
  font-size: 3.5em;
  color: white;
  margin-top: 15px;

  &:hover {
    text-decoration: none;
  }
}

/* wrapper */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

/* footer */
.push {
  height: 70px;
}
footer {
  height: 70px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.footerInfo {
  text-align: center;
  padding-top: 15px;
}

/* login */
#login-dp {
  padding: 0px;
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: #fafafa;
}
#login-dp .help-block {
  font-size: 12px
}
#login-dp .bottom {
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px 0
}
#login-dp .social-buttons a {
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-ig {
  color: #fff;
  background-color: #3F729B;
}
.btn-ig:hover {
  color: #fff;
  background-color: #538cb9;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}
@media(max-width:768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  margin-right: 25%;
  margin-left: 25%;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  margin-right: 25%;
  margin-left: 25%;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-right: 25%;
  margin-left: 25%;
}
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-right: 25%;
  margin-left: 25%;
}
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
@import "social-share-button";
