// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-step-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#steps-content{
  margin-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.next-step{
  float: right;
  color: green;
}

#step-btn{
  background-color: #0C0C0C;
  border-color: #151515;
}